<section class="promos">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="free-shipping">
                        <div class="box border-top">
                            <img src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/images/free-shipping.png" alt="" />
                            <div class="hgroup title">
                                <h3>Free UK shipping!</h3>
                                <h5>This is a snappy sub-title</h5>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque beatae tempore porro officiis!</p>
                        </div>
                    </div>
                </div>
    
                <div class="span4">
                    <div class="world-shipping">
                        <div class="box border-top">
                            <img src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/images/world-shipping.png" alt="" />
                            <div class="hgroup title">
                                <h3>We're now global!</h3>
                                <h5>This is a snappy sub-title</h5>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque beatae tempore porro officiis!</p>
                        </div>
                    </div>
                </div>
    
                <div class="span4">
                    <div class="low-price">
                        <div class="box border-top">
                            <img src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/images/low-price.png" alt="" />
                            <div class="hgroup title">
                                <h3>Lowest price guarantee!</h3>
                                <h5>This is a snappy sub-title</h5>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque beatae tempore porro officiis!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    