<!DOCTYPE html>
<html>
    <head>
        <title>hapi.js university</title>
        <link rel="stylesheet" href="/styles/styles.css">
        <script src="/scripts/logout.js"></script>
        <meta name="crumb" content="{{crumb}}" value="{{crumb}}">
    </head>
    <body>
        {{#if admin}}
        <h3>{{user.username}} Account</h3>
        <a href="/admin">Admin CPanel</a>
        {{else}}
        <h3>{{user.username}} Account</h3>
        {{/if}}
        <br/>
        <a href="/home">Home</a><br/>
        <a id="btnLogout" href="/logout">Log Out</a>
    </body>
</html>
