<!DOCTYPE html>
<html>
  <head>
    <title>hapi.js university</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/scripts/logout.js"></script>
  </head>
  <body>
    <p>
        {{#if user}}
            <h1>{{user.first}} {{user.username}}</h1>
            <a href="/account">{{user.username}} 's Account</a><br/><br/>
            <a id="btnLogout" href="/logout">Log Out</a>
        {{else}}
            <a href="/login">Login</a><br/><br/>
        {{/if}}
    </p>
    <p>
        <img src="/images/logo.png" alt="Logo"/>
        <h3>A Community Learning Experiment</h3>
    </p>
  </body>
</html>
