<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-js">
    <head>        
        

<meta charset="UTF-8">
<meta name="Description" content=""/>
<meta name="Keywords" content=""/>
<meta name="author" content="La Boutique 1.1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Home | La Boutique</title>


<link rel="stylesheet" type="text/css" href="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/css/core.css">
<link rel="stylesheet" type="text/css" href="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/css/bootstrap-responsive.css">
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/css/flexslider.css">
<link rel="stylesheet" type="text/css" href="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/css/turquoise.css" id="color_scheme">
<link rel="stylesheet" type="text/css" href="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/css/custom.css">
<link rel="stylesheet" type="text/css" href="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/css/tfingi-megamenu-frontend.css">
<link rel="stylesheet" type="text/css" href="/cms/core.css">

<link rel="icon" href="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/images/favicon.ico" type="image/x-icon" />
<link href="https://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic|Shadows+Into+Light" rel="stylesheet" type="text/css">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<!--[if lt IE 9]>
<script src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/javascript/html5shiv.js"></script>
<![endif]-->

<script type="text/javascript" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/javascript/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/javascript/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>

<script type="text/javascript" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/javascript/jquery-ui-1.10.2.custom.js"></script>
<script type="text/javascript" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/javascript/jquery.easing-1.3.min.js"></script>
<script type="text/javascript" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/javascript/bootstrap.js"></script>
<script type="text/javascript" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/javascript/jquery.isotope.min.js"></script>
<script type="text/javascript" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/javascript/jquery.flexslider.js"></script>
<script type="text/javascript" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/javascript/jquery.elevatezoom.js"></script>
<script type="text/javascript" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/javascript/jquery.sharrre-1.3.4.js"></script>
<script type="text/javascript" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/javascript/jquery.gmap3.js"></script>
<script type="text/javascript" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/javascript/jquery.tweet.js"></script>
<script type="text/javascript" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/javascript/imagesloaded.js"></script>
<script type="text/javascript" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/javascript/la_boutique.js"></script>
<script type="text/javascript" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/javascript/app.js"></script>

<script type="text/javascript" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/javascript/tfingi-megamenu-frontend.js"></script>
<script type="text/javascript" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/javascript/jquery.cookie.js"></script>
<script type="text/javascript" src="/cms/core.js"></script>
    </head>
    <body>
        <div class="wrapper">
        <!-- Header -->
            <div class="header">
    <!-- Top bar -->
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <p>
                    Responsive eCommerce theme
                    </p>
                </div>
                <div class="span6 hidden-phone">
                    <ul class="inline pull-right">
                                                    <li><a href="//laboutique.lemonstand.com/login" title="Login / Register">Login / Register</a></li>
                                            </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End class="top" -->
    <!-- Logo & Search bar -->
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <div class="logo">
                        <a href="//laboutique.lemonstand.com/" title="&larr; Back home">
                        <img src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/images/logo.png" alt="La Boutique" />
                        </a>
                    </div>
                </div>
                <div class="span4">
                    <div class="row-fluid">
                        <div class="span10">

                            <!-- Search -->
                            <div class="search">
                                <div class="qs_s">
                                    <form  method="get" action="//laboutique.lemonstand.com/search">
                                        <input type="text" name="query" id="query" placeholder="Search store&hellip;" autocomplete="off" value="">
                                    </form>
                                </div>
                            </div>
                            <!-- End class="search"-->

                        </div>
                        <div class="span2">

                            <!-- Mini cart -->
                            <div id="mini-cart" class="mini-cart">
                                <a href="//laboutique.lemonstand.com/cart" title="Go to cart &rarr;">
    <span>0</span>
</a>
                            </div>
                            <!-- End class="mini-cart" -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End class="bottom" -->
</div>
        <!-- End Header -->
        
        <!-- Navigation -->
            <nav class="navigation">
    <div class="container">
        <div class="row">
            <div class="span8">
                <a href="#" class="main-menu-button">Navigation</a>
                <!-- Begin Menu Container -->
                <div class="megamenu_container">
                    <div class="menu-main-navigation-container">
                        <ul id="menu-main-navigation" class="main-menu">
                            <li class=" menu-item-home menu-item-has-children megamenu-parent"><a href="//laboutique.lemonstand.com/">Home</a></li>
                            <li class="menu-item-has-children"><a href="//laboutique.lemonstand.com/shop">Shop</a>
                                                                                                <ul class="sub-menu">
                                                                        <li>
                                        <a href="/category/denim">Denim</a>
                                                                            </li>
                                                                        <li>
                                        <a href="/category/pants">Pants</a>
                                                                            </li>
                                                                    </ul>
                                                                                            </li>
                            <li class=""><a href="//laboutique.lemonstand.com/about-us">About</a></li>
                            <li class=""><a href="//laboutique.lemonstand.com/contact-us">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span4 visible-desktop">
                
            </div>
        </div>
    </div>
</nav>
        <!-- End class="navigation" -->

        <!-- Content section -->		
            <section class="main">
                <!-- Home content -->
<section class="home">
    <!-- Slider -->
    <section class="flexslider">
        <ul class="slides">
            <li>
                <img src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/images/demo_slide_3.jpg" alt="" />
                <div class="caption">
                    <div class="container">
                        <div class="span6">
                            <h3>360+ Retina-ready icons</h3>
                            <br />
                            <p>The iconic Font Awesome for Bootstrap</p>
                            <br /> <a class="btn btn-small" title="" href="/retina-ready-icons">Find out more</a> 
                            <a class="btn btn-primary btn-small" title="" href="#">
                                Buy now &nbsp; <em class="icon-chevron-right"></em>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/images/demo_slide_1.jpg" alt="" />
                <div class="caption">
                    <div class="container">
                        <div class="span6">
                            <h3>Built-in Stripe payments</h3>
                            <br />
                            <p>Instant setup with payment profiles. No monthly fees.</p>
                            <br /> <a class="btn btn-small" title="" href="#">Find out more</a> 
                            <a class="btn btn-primary btn-small" title="" href="#">
                                Buy now &nbsp; <em class="icon-chevron-right"></em>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/images/demo_slide_2.jpg" alt="" />
                <div class="caption">
                    <div class="container">
                        <div class="span6 offset6 text-right">
                            <h3>Feature-packed modules</h3>
                            <br />
                            <p>Isotope listing, price filtering, instant search and much more...</p>
                            <br /> <a class="btn btn-small" title="" href="#">Find out more</a> 
                            <a class="btn btn-primary btn-small" title="" href="#">
                                Buy now &nbsp; <em class="icon-chevron-right"></em>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <!-- End class="flexslider" -->                    
    <!-- Promos -->
    {{> promos }}
    <!-- End class="promos" -->
    <!-- Featured content" -->
    <section class="featured">
        <div class="container">
    
            <div class="row">
                <div class="span9">
                    <!-- Products list -->
                                                             <ul class="product-list isotope">
                                                                                                	<li class="standard" data-price="$29.00">
                            <a href="/product/acid-wash-jeans" title="Acid Wash Jeans">
                            <div class="image">
                                <img class="primary" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/uploaded/thumbnails/AcidWashJeans1_365xauto-jpg-keep-ratio.png?1401925859" alt="" />
                                <img class="secondary" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/uploaded/thumbnails/AcidWashJeans1_365xauto-jpg-keep-ratio.png?1401925859" alt="" />
                                                            </div>
                            <div class="title">
                                <div class="prices">
                                                                        <span class="price">$29.00</span>
                                </div>
                                <h3>Acid Wash Jeans</h3>
                            </div>
                            </a>
                        </li>
                                                                                                	<li class="standard" data-price="$29.00">
                            <a href="/product/army-print-jeans" title="Army Print Jeans">
                            <div class="image">
                                <img class="primary" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/uploaded/thumbnails/CamoPrintJeans1_365xauto-jpg-keep-ratio.png?1401925860" alt="" />
                                <img class="secondary" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/uploaded/thumbnails/CamoPrintJeans1_365xauto-jpg-keep-ratio.png?1401925860" alt="" />
                                                            </div>
                            <div class="title">
                                <div class="prices">
                                                                        <span class="price">$29.00</span>
                                </div>
                                <h3>Army Print Jeans</h3>
                            </div>
                            </a>
                        </li>
                                                                                                	<li class="standard" data-price="$24.00">
                            <a href="/product/floral-pant" title="Floral Pant">
                            <div class="image">
                                <img class="primary" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/uploaded/thumbnails/FloralPants1_365xauto-jpg-keep-ratio.png?1401925423" alt="" />
                                <img class="secondary" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/uploaded/thumbnails/FloralPants1_365xauto-jpg-keep-ratio.png?1401925423" alt="" />
                                                            </div>
                            <div class="title">
                                <div class="prices">
                                                                        <span class="price">$24.00</span>
                                </div>
                                <h3>Floral Pant</h3>
                            </div>
                            </a>
                        </li>
                                                                                                	<li class="standard" data-price="$29.00">
                            <a href="/product/ripped-boyfriend-jeans" title="Ripped Boyfriend Jeans">
                            <div class="image">
                                <img class="primary" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/uploaded/thumbnails/RippedJeans!_365xauto-jpg-keep-ratio.png?1401925859" alt="" />
                                <img class="secondary" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/uploaded/thumbnails/RippedJeans!_365xauto-jpg-keep-ratio.png?1401925859" alt="" />
                                                            </div>
                            <div class="title">
                                <div class="prices">
                                                                        <span class="price">$29.00</span>
                                </div>
                                <h3>Ripped Boyfriend Jeans</h3>
                            </div>
                            </a>
                        </li>
                                                                                                	<li class="standard" data-price="$24.00">
                            <a href="/product/White-Pant" title="White Trouser Pant">
                            <div class="image">
                                <img class="primary" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/uploaded/thumbnails/WhitePant1_365xauto-jpg-keep-ratio.png?1401925078" alt="" />
                                <img class="secondary" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/uploaded/thumbnails/WhitePant1_365xauto-jpg-keep-ratio.png?1401925078" alt="" />
                                                            </div>
                            <div class="title">
                                <div class="prices">
                                                                        <span class="price">$24.00</span>
                                </div>
                                <h3>White Trouser Pant</h3>
                            </div>
                            </a>
                        </li>
                                                                                                	<li class="standard" data-price="$19.00">
                            <a href="/product/black-pant" title="Black Pant">
                            <div class="image">
                                <img class="primary" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/uploaded/thumbnails/BlackPant1_365xauto-jpg-keep-ratio.png?1401925304" alt="" />
                                <img class="secondary" src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/uploaded/thumbnails/BlackPant1_365xauto-jpg-keep-ratio.png?1401925304" alt="" />
                                <span class="badge badge-sale">SALE</span>                            </div>
                            <div class="title">
                                <div class="prices">
                                    <del class="base">$24.00</del>                                    <span class="price">$19.00</span>
                                </div>
                                <h3>Black Pant</h3>
                            </div>
                            </a>
                        </li>
                                             </ul>
                    <!-- End class="product-list isotope" -->
                                    </div>
                <div class="span3">
                    <!-- Categories widget -->
                    <div class="widget Categories">
                        <h3 class="widget-title widget-title ">Categories</h3>
                                                                <ul class=" category-list secondary ">
                                                                                    <li>
                                                <a href="/category/denim" title="Denim">
                                                Denim
                                                </a>
                                            </li>
                                            <ul>
                                                <li></li>
                                            </ul>
                                                                                    <li>
                                                <a href="/category/pants" title="Pants">
                                                Pants
                                                </a>
                                            </li>
                                            <ul>
                                                <li></li>
                                            </ul>
                                                                            </ul>
                                                    </div>
                    <!-- End class="widget Categories" -->
    
                    <!-- This month only! widget -->
                    <div class="widget Text">
                        <h3 class="widget-title widget-title ">This month only!</h3>
                        <h5>Free UK shipping!</h5>
                        <h6><i class="icon-gift"> &nbsp; </i> Free gift wrap</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque beatae tempore porro officiis!</p>
                        <a class="btn btn-primary" href="#">
                        BUY NOW <em>for</em> $85
                        </a>
                    </div>
                    <!-- End class="widget Text" -->
    
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured content" -->
</section>
<!-- End class="home" -->
            </section>
        <!-- End class="main" -->
 
        <!-- Footer -->
            <div class="footer">
    <div class="container">
        <div class="row">

            <div class="span2">
                <!-- Support -->
                <div class="support">
                    <h6>Support</h6>
                    <ul class="links">
                        <li>
                            <a href="//laboutique.lemonstand.com/about-us" title="About us" class="title">About us</a>
                        </li>
                        <li>
                            <a href="//laboutique.lemonstand.com/typography" title="Typography" class="title">Typography</a>
                        </li>
                        <li>
                            <a href="//laboutique.lemonstand.com/retina-ready-icons" title="Retina-ready icons" class="title">Retina-ready icons</a>
                        </li>
                        <li>
                            <a href="//laboutique.lemonstand.com/buttons" title="Buttons" class="title">Buttons</a>
                        </li>
                        <li>
                            <a href="//laboutique.lemonstand.com/elements" title="Elements" class="title">Elements</a>
                        </li>
                        <li>
                            <a href="//laboutique.lemonstand.com/grids" title="Grids" class="title">Grids</a>
                        </li>
                        <li>
                            <a href="//laboutique.lemonstand.com/store-locator" title="Store locator" class="title">Store locator</a>
                        </li>
                        <li>
                            <a href="//laboutique.lemonstand.com/contact-us" title="Contact us" class="title">Contact us</a>
                        </li>
                    </ul>
                </div>
                <!-- End class="support" -->
                <hr />
                <!-- My account -->
                <div class="account">
                    <h6>My account</h6>
                    <ul class="links">
                                                    <li><a href="//laboutique.lemonstand.com/login" title="Login / Register">Login / Register</a></li>
                                            </ul>
                </div>
                <!-- End class="account"-->

            </div>
            <div class="span2">

                <!-- Categories -->
                <div class="categories">
                    <h6>Shop</h6>
                                        <ul class="links">
                                                <li>
                            <a href="/category/denim">Denim</a>
                        </li>
                                                <li>
                            <a href="/category/pants">Pants</a>
                        </li>
                                            </ul>
                                    </div>
                <!-- End class="categories" -->
            </div>
            <div class="span4">
                <!-- Pay with confidence -->
                <div class="confidence">
                    <h6>Pay with confidence</h6>
                    <!-- additional card images available in resource images folder -->
                    <img src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/images/visa.png" alt="We accept all major credit cards" />
                    <img src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/images/mastercard.png" alt="We accept all major credit cards" />
                    <img src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/images/paypal.png" alt="We accept all major credit cards" />
                </div>
                <!-- End class="confidence" -->
            </div>
            <div class="span4">
                <!-- Newsletter subscription -->
                <div class="newsletter">
                    <h6>Newsletter subscription</h6>
                    <form onsubmit="$('#newsletter_subscribe').modal('show'); return false;" enctype="multipart/form-data" action="index.html" method="post">

                        <div class="input-append">
                            <input type="text" class="span3" name="email" />
                            <button class="btn" type="submit">Go!</button>
                        </div>
                    </form>
                    <p>Sign up to receive our latest news and updates direct to your inbox</p>
                </div>
                <!-- End class="newsletter" -->

                <hr />

                <!-- Social icons -->
                <div class="social">
                    <h6>Socialize with us</h6>
                    <ul class="social-icons">
                        <li>
                            <a class="twitter" href="#" title="Twitter">Twitter</a>
                        </li>
                        <li>
                            <a class="facebook" href="#" title="Facebook">Facebook</a>
                        </li>
                        <li>
                            <a class="pinterest" href="#" title="Pinterest">Pinterest</a>
                        </li>
                        <li>
                            <a class="youtube" href="#" title="YouTube">YouTube</a>
                        </li>
                        <li>
                            <a class="vimeo" href="#" title="Vimeo">Vimeo</a>
                        </li>
                        <li>
                            <a class="flickr" href="#" title="Flickr">Flickr</a>
                        </li>
                        <li>
                            <a class="googleplus" href="#" title="Google+">Google+</a>
                        </li>
                        <li>
                            <a class="dribbble" href="#" title="Dribbble">Dribbble</a>
                        </li>
                        <li>
                            <a class="tumblr" href="#" title="Tumblr">Tumblr</a>
                        </li>
                        <li>
                            <a class="digg" href="#" title="Digg">Digg</a>
                        </li>
                        <li>
                            <a class="linkedin" href="#" title="LinkedIn">LinkedIn</a>
                        </li>
                        <li>
                            <a class="instagram" href="#" title="Instagram">Instagram</a>
                        </li>
                    </ul>
                </div>
                <!-- End class="social" -->
            </div>
        </div>
    </div>
</div>
<!-- Newsletter modal window -->
<div id="newsletter_subscribe" class="modal hide fade" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="hgroup title">
            <h3>You are now subscribed to our newsletter</h3>
            <h5>All the latest deals and offers will be making their way to your inbox shortly!</h5>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button data-dismiss="modal" aria-hidden="true" class="btn btn-small">
            Close &nbsp; <i class="icon-ok"></i>
            </button>
        </div>
    </div>
</div>
<!-- End id="newsletter_subscribe" -->
        <!-- End id="footer" -->            
            
        <!-- Credits bar -->
            <div class="credits">
    <div class="container">
        <div class="row">
            <div class="span8">
                <p>&copy; 2014 La Boutique &middot; All Rights Reserved. </p>
            </div>
            <div class="span4 text-right hidden-phone">
                <p><a href="http://www.twindots.com/" title="Responsive eCommerce template">Responsive eCommerce theme by Twin Dots</a></p>
            </div>
        </div>
    </div>
</div>
        <!-- End class="credits" -->            
        </div>
    </body>
</html>